label {
    font-weight: normal;
    font-size: 13px;
}
textarea, textarea.form-control, 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=number], 
[type=text].form-control, 
[type=password].form-control{
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
.extra-spacing li {
    margin-bottom: 15px;
}
.sticky-footer {
    position: fixed;
    bottom: 0;
}