<form name="mainForm" class="center-block">
	
	<!-- Annual Salary -->
	<div class="form-group">
		<label class="col-md-4 control-label" for="salary">Annual Salary</label>  
		<div class="input-group col-md-4">
			<span class="input-group-addon text-success">$</span>
			<input 
				ng-model="checkup.salary" 
				id="salary"
				name="salary" 
				format="number"
				type="text" 
				class="form-control lead">
			</div>
	</div>

	<div class="form-group">
		<label class="col-md-4 control-label">Do you have an Emergecy account?</label>
		
		<div class="input-group col-md-4">					
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="checkup.has_emergency_account" ng-value="true">
					Yes
				</label>
			</div>
		</div>
	</div>

	<!-- Emergency Account amount -->
		<div class="form-group" ng-show="checkup.has_emergency_account" ng-class="{ 'animated fadeInDown': checkup.has_emergency_account }">

			<label class="col-md-4 control-label" for="emergency_account">
				<i class="glyphicon glyphicon-arrow-up"></i>
				How much is in it?
			</label>  

			<div class="input-group col-md-4">
				<span class="input-group-addon text-success">$</span>
				<input 
					ng-model="checkup.emergency_account" 
					id="emergency_account"
					name="emergency_account" 
					format="number"
					type="text" 
					class="form-control lead">
				</div>

		</div>

</form>